.footer {
    background-color:rgb(31, 31, 31);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: white;
    padding-left: 10px;
}

.logos {
    margin-top: 20px;
    margin-left: 20px;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}