.header {
    background-color:rgb(31, 31, 31);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    padding: 15px 20px 15px 20px;
    color: white;
}

.nav {
    margin-left: 28%;
}

.nav-brand {
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: rgb(168, 168, 168);
    color: rgb(31, 31, 31);
}

.nav-link, .nav-link:hover {
    color: white;
}

.nav-left {
    display: inherit;
}

.nav-mid {
    margin-left: 20px;
}